-- MySQL dump 10.13  Distrib 8.4.8, for Win64 (x86_64)
--
-- Host: localhost    Database: schedule
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `schedule`
--

/*!40000 DROP DATABASE IF EXISTS `schedule`*/;

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `schedule` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `schedule`;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `appointments` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `scheduledDate` date NOT NULL,
  `lname` varchar(255) NOT NULL,
  `vehicle` varchar(255) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `services` varchar(1000) NOT NULL,
  `kind` enum('DROPOFF','WAIT','DUE_BY') NOT NULL DEFAULT 'DROPOFF',
  `priorityTime` time DEFAULT NULL,
  `isFirstJob` tinyint(1) NOT NULL DEFAULT '0',
  `slotsRequired` int NOT NULL DEFAULT '1',
  `isCapacityOverride` tinyint(1) NOT NULL DEFAULT '0',
  `isWaitLimitOverride` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `idx_appointments_date` (`scheduledDate`),
  KEY `idx_appointments_kind_date` (`kind`,`scheduledDate`),
  KEY `idx_appointments_priorityTime` (`scheduledDate`,`priorityTime`),
  CONSTRAINT `chk_appointments_priorityTime_by_kind` CHECK ((((`kind` = _utf8mb4'DROPOFF') and (`priorityTime` is null)) or ((`kind` in (_utf8mb4'WAIT',_utf8mb4'DUE_BY')) and (`priorityTime` is not null)))),
  CONSTRAINT `chk_appointments_slotsRequired_positive` CHECK ((`slotsRequired` >= 1))
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mechanic`
--

DROP TABLE IF EXISTS `mechanic`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mechanic` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fname` varchar(100) DEFAULT NULL,
  `lname` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mechanic`
--

LOCK TABLES `mechanic` WRITE;
/*!40000 ALTER TABLE `mechanic` DISABLE KEYS */;
INSERT INTO `mechanic` VALUES (1,'Douglas','Gensbauer'),(2,'John','Dalton'),(3,'Dave','Burns');
/*!40000 ALTER TABLE `mechanic` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mechanicoffday`
--

DROP TABLE IF EXISTS `mechanicoffday`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mechanicoffday` (
  `mechanic_id` int NOT NULL,
  `date` date NOT NULL,
  `leaveType` enum('FULL','PART') NOT NULL DEFAULT 'FULL',
  `time` time DEFAULT NULL,
  `jobsDropped` int DEFAULT NULL,
  PRIMARY KEY (`mechanic_id`,`date`),
  KEY `idx_mechanicOffDay_date` (`date`),
  CONSTRAINT `fk_mechanicOffDay_mechanic` FOREIGN KEY (`mechanic_id`) REFERENCES `mechanic` (`id`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_mechanicOffDay_time_by_leaveType` CHECK ((((`leaveType` = _utf8mb4'FULL') and (`time` is null)) or ((`leaveType` = _utf8mb4'PART') and (`time` is not null))))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mechanicoffday`
--

LOCK TABLES `mechanicoffday` WRITE;
/*!40000 ALTER TABLE `mechanicoffday` DISABLE KEYS */;
INSERT INTO `mechanicoffday` VALUES (1,'2026-02-18','FULL',NULL,NULL),(2,'2026-02-19','PART','14:00:00',2),(3,'2026-02-20','FULL',NULL,NULL);
/*!40000 ALTER TABLE `mechanicoffday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `scheduleday`
--

DROP TABLE IF EXISTS `scheduleday`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `scheduleday` (
  `date` date NOT NULL,
  PRIMARY KEY (`date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `scheduleday`
--

LOCK TABLES `scheduleday` WRITE;
/*!40000 ALTER TABLE `scheduleday` DISABLE KEYS */;
INSERT INTO `scheduleday` VALUES ('2026-02-16'),('2026-02-17'),('2026-02-18'),('2026-02-19'),('2026-02-20'),('2026-02-21'),('2026-02-22');
/*!40000 ALTER TABLE `scheduleday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Keith','keith@example.com','2026-02-19 18:22:44'),(2,'Nick','nick@example.com','2026-02-19 18:37:56'),(3,'John','john@example.com','2026-02-19 18:38:25');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'schedule'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-19 16:26:50
